.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.no-flex-wrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-justify-content-start {
  justify-content: flex-start;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-space-between {
  justify-content: space-between;
}

.flex-justify-content-space-around {
  justify-content: space-around;
}

.flex-justify-content-baseline {
  justify-content: baseline;
}

.flex-align-items-stretch {
  align-items: stretch;
}

.flex-align-items-start {
  align-items: flex-start;
}

.flex-align-items-end {
  align-items: flex-end;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-content-position-start {
  align-content: flex-start;
}

.flex-align-content-position-end {
  align-content: flex-end;
}

.flex-align-content-position-center {
  align-content: center;
}

.flex-align-content-space-between {
  align-content: space-between;
}

.flex-align-content-space-around {
  align-content: space-around;
}

/* For individual items */

.flex-order-item-begining {
  order: 1;
}

.flex-item-grow-1 {
  flex-grow: 1;
}
.flex-item-grow-2 {
  flex-grow: 2;
}
.flex-item-grow-3 {
  flex-grow: 3;
}
.flex-item-grow-4 {
  flex-grow: 4;
}


.flex-item-shrink-1 {
  flex-shrink: 1;  
}
.flex-item-shrink-2 {
  flex-shrink: 2;  
}
.flex-item-shrink-3 {
  flex-shrink: 3;  
}
.flex-item-shrink-4 {
  flex-shrink: 4;  
}

.flex-align-self-stretch {
  align-self: stretch;
}

.flex-align-self-start {
  align-self: flex-start;
}
.flex-align-self-end {
  align-self: flex-end;
}
.flex-align-self-center {
  align-self: center;
}
.flex-align-self-baseline {
  align-self: baseline;
}


/* Combinations */
/* Combination of direction, wrap, and justify-content */
.flex-row-start-align-items-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-start-align-items-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-row-start-align-items-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-end-align-items-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-row-end-align-items-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-row-end-align-items-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-center-align-items-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.flex-row-center-align-items-end {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.flex-row-center-align-items-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-space-between-align-items-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-row-space-between-align-items-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-row-space-between-align-items-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-space-around-align-items-start {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-row-space-around-align-items-end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-row-space-around-align-items-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-row-space-around-align-items-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Flex-column combinations */
.flex-col-start-align-items-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-start-align-items-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.flex-col-start-align-items-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-end-align-items-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.flex-col-end-align-items-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-col-end-align-items-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flex-col-center-align-items-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.flex-col-center-align-items-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.flex-col-center-align-items-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-space-between-align-items-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-col-space-between-align-items-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-col-space-between-align-items-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-col-space-around-align-items-start {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-col-space-around-align-items-end {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-col-space-around-align-items-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}